<div style=" padding-right:30px;">
Since the model’s debut in 2009, the Ralph Lauren Stirrup watch has been recognized as a perfect expression
of the brand’s elevated style. With its unique stirrup silhouette and a variety of distinctive faces, this timeless
design captures the essence of Ralph Lauren’s equestrian tradition in an ultra sophisticated, classic timepiece.

<p>Ralph Lauren Stirrup watches are available for men and women, offered in small, medium and large models,
and feature either time-only, small second or chronograph functions. Cases are fashioned from white gold, rose
gold, platinum and steel, and embellished with rows of gems or full-cut diamonds. They are offered with link
bracelets of precious metal, calf leather straps and alligator straps. Enhanced by subtle yet distinctive
equestrian details, the collection’s stirrup-shaped buckles complement matching cases. A unique strap design
recalls the contour of a saddle as it passes beneath the case and through the stirrup to secure it.</p>

<p>Rose Gold 4N, a Ralph Lauren's signature</p>

<p>Ralph Lauren Watch and Jewelry collections offer two kinds of gold: white gold and rose gold 4N. The latter is
achieved by adding copper to the gold alloy, resulting in a lustrous reddish hue—the higher the copper content,
the stronger the effect. Rose gold 4N is traditionally used by watchmakers to realize their masterpieces and is
the industry’s preferred finish for high-end timepieces.</p>

<p>Featured Stirrup Collection masterpieces</p>

<p>Within the Ralph Lauren Stirrup Collection, two superb and versatile models are worthy of special mention. With
their fluid aesthetics and balanced combination of dressy and casual elements, the Gold Link and Rose Gold
Chronograph watches are the ultimate complement to the Ralph Lauren lifestyle.</p>

<p>Since the model’s debut in 2009, the Ralph Lauren Stirrup watch has been recognized as a perfect expression
of the brand’s elevated style. With its unique stirrup silhouette and a variety of distinctive faces, this timeless
design captures the essence of Ralph Lauren’s equestrian tradition in an ultra sophisticated, classic timepiece.</p>

<p>Ralph Lauren Stirrup watches are available for men and women, offered in small, medium and large models,
and feature either time-only, small second or chronograph functions. Cases are fashioned from white gold, rose
gold, platinum and steel, and embellished with rows of gems or full-cut diamonds. They are offered with link
bracelets of precious metal, calf leather straps and alligator straps. Enhanced by subtle yet distinctive
equestrian details, the collection’s stirrup-shaped buckles complement matching cases. A unique strap design
recalls the contour of a saddle as it passes beneath the case and through the stirrup to secure it.</p>

<p>Ralph Lauren Watch and Jewelry collections offer two kinds of gold: white gold and rose gold 4N. The latter is
achieved by adding copper to the gold alloy, resulting in a lustrous reddish hue—the higher the copper content,
the stronger the effect. Rose gold 4N is traditionally used by watchmakers to realize their masterpieces and is
the industry’s preferred finish for high-end timepieces.</p>

<p>Within the Ralph Lauren Stirrup Collection, two superb and versatile models are worthy of special mention. With
their fluid aesthetics and balanced combination of dressy and casual elements, the Gold Link and Rose Gold
Chronograph watches are the ultimate complement to the Ralph Lauren lifestyle.</p>

<p>Ralph Lauren Watch and Jewelry collections offer two kinds of gold: white gold and rose gold 4N. The latter is
achieved by adding copper to the gold alloy, resulting in a lustrous reddish hue—the higher the copper content,
the stronger the effect. Rose gold 4N is traditionally used by watchmakers to realize their masterpieces and is
the industry’s preferred finish for high-end timepieces.</p>

<p>Within the Ralph Lauren Stirrup Collection, two superb and versatile models are worthy of special mention. With
their fluid aesthetics and balanced combination of dressy and casual elements, the Gold Link and Rose Gold
Chronograph watches are the ultimate complement to the Ralph Lauren lifestyle.</p>
</div>