@{
    ViewBag.Title = "The Ralph Lauren Stirrup Steel Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="themain">   
    <div class="clear"></div>
    <div id="scrollerhere" class="scrollerhere">
        @Html.Partial("sturrupSteel")
    </div>
    <div class="clear"></div>
    <div class="links">
		<div>
			<div class="linkText">				 
                <a href="../../Content/download/RalphLaurenWatchesSIHH2012Preview-PressRelease.zip" ><img src="../../Content/graphics/watches_epk_carot_gray.png" alt=""/>DOWNLOAD PRESS RELEASE</a>            
            </div>			
			<div class="linkText">				
                <a id="mediaContact" href=""><img src="../../Content/graphics/watches_epk_carot_gray.png" alt=""/>Media Contact</a>            
            </div>
		</div>
	</div>
    <div class="clear" style=" height:350px"></div>
    <div class="downloads downloadTextRes">
	    <div class="left downloadTile downloadTileText" >I.</div>
	    <div class="left downloadTile downloadTileText" >II.</div>
	    <div class="left downloadTile downloadTileText" >III.</div>
	    <div class="left downloadTile downloadTileText" >IV.</div>
	    <div class="clear"></div>
	
	    <div class="left downloadTile">
            <img src="../../Content/graphics/watches_epk_thumb_01.jpg" alt="" /><br /><br />
		    <span class="downloadText">Download File</span><br />		
            <a href="../../Content/download/highRes/RLWJ SIHH 2012 Preview Models_HR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>High Resolution</a><br />
            <a href="../../Content/download/lowRes/RLWJ SIHH 2012 Preview Models_LR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>Low Resolution</a>
	    </div>
	    <div class="left downloadTile">
            <img src="../../Content/graphics/watches_epk_thumb_01.jpg" alt="" /><br /><br />
		    <span class="downloadText">Download File</span><br />		
            <a href="../../Content/download/highRes/RLWJ SIHH 2012 Preview Models_HR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>High Resolution</a><br />
            <a href="../../Content/download/lowRes/RLWJ SIHH 2012 Preview Models_LR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>Low Resolution</a>
	
	    </div>
	    <div class="left downloadTile">
            <img src="../../Content/graphics/watches_epk_thumb_01.jpg" alt="" /><br /><br />
		    <span class="downloadText">Download File</span><br />		
            <a href="../../Content/download/highRes/RLWJ SIHH 2012 Preview Models_HR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>High Resolution</a><br />
            <a href="../../Content/download/lowRes/RLWJ SIHH 2012 Preview Models_LR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>Low Resolution</a>
	
	    </div>
	    <div class="left downloadTile">
            <img src="../../Content/graphics/watches_epk_thumb_01.jpg" alt="" /><br /><br />
		    <span class="downloadText">Download File</span><br />		
            <a href="../../Content/download/highRes/RLWJ SIHH 2012 Preview Models_HR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>High Resolution</a><br />
            <a href="../../Content/download/lowRes/RLWJ SIHH 2012 Preview Models_LR.zip"><img src="../../Content/graphics/watches_epk_carot_gray.png"  alt=""/>Low Resolution</a>
	
	    </div>
    </div>

    <div class="clear" style=" height:100px"></div>
    <div class="bottomNav">
        <img src="../../Content/graphics/watches_epk_nav.gif" alt="" />
	
    </div>
    <div id="mediaModal">
	    <div class="closeButton">
		    <span id="btnClose"><img src="../../Content/graphics/lightbox_watches_epk_close.png" alt="" /></span>
	    </div>
	    <div class="left contactColumn infoText">
		    <div class="contactTile">
			    <span class="bold">US</span><br />
			    Jim Kloiber<br />
			    +1 212 488 1085<br />
                <a href="mailto: jkloiber@gckpartners.com" class="contactLink">jkloiber@gckpartners.com</a>
			    
            </div>
		    <div class="contactTile">
			    <span class="bold">UK</span><br />
			    James Massey<br />
			    +44 20 7637 3220<br />
                <a href="mailto: James.Massey@massey.co.uk" class="contactLink">James.Massey@massey.co.uk</a>
			    
            </div>
		    <div class="contactTile">
			    <span class="bold">FRANCE</span><br />
			    Isabelle Pouillat<br />
			    +33 1 43 06 9865<br />
                <a href="mailto: I.Pouillat@bmrp.fr" class="contactLink">I.Pouillat@bmrp.fr</a>
			    
            </div>
		    <div class="contactTile">
			    <span class="bold">ITALY</span><br />
			    Marcella Magliola<br />
			    +39 02 7733 6267<br />
                <a href="mailto: Marcella.Magliola@mslworldwide.com" class="contactLink">Marcella.Magliola@mslworldwide.com</a>
			    
            </div>
	    </div>
	    <div class="left contactColumn infoText">
		    <div class="contactTile">
			    <span class="bold">MIDDLE EAST</span><br />
			    Maria Cristina Pallares<br />
			    +971 4 445 6000<br />
                <a href="mailto: Maria.Cristina@eurorscgme.com" class="contactLink">Maria.Cristina@eurorscgme.com</a>
			   
            </div>
		    <div class="contactTile">
			    <span class="bold">JAPAN</span><br />
			    Yuka Kato<br />
			    +81 80 6768 4343<br />
                <a href="mailto: Yklandry@branding-y.com" class="contactLink">Yklandry@branding-y.com</a>
			    
            </div>
		    <div class="contactTile">
			    <span class="bold">CHINA</span><br />
			    Kathleen Xu<br />
			    +86 21 6083 1036<br />
                <a href="mailto: Kxu@sh.muse-international.com" class="contactLink">Kxu@sh.muse-international.com</a>
			   
            </div>
		    <div class="contactTile">
			    <span class="bold">HONG KONG</span><br />
			    Cerise Tsang<br />
			    +852 2234 9282<br />
                <a href="mailto: Ctsang@hk.muse-international.com" class="contactLink">Ctsang@hk.muse-international.com</a>
			    
            </div>			
	    </div>
	    <div class="left contactColumn infoText">
		    <div class="contactTile">
			    <span class="bold">HEADQUARTERS</span><br />
			    +41 22 595 5900<br />
                <a href="mailto: Press.RLWJ@poloralphlauren.com" class="contactLink">Press.RLWJ@poloralphlauren.com</a>
			    
            </div>
	    </div>
    </div>
</div>

 